<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/loginFail/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#">
            <div>
                <img src="/loginFail/assets/img/615px-Food_Network_New_Logo%202.png">
            </div>
            <a href="/home">
            <span style="margin-left: 10px;color: #DC780B;font-weight: bold;">
                Home
            </span>
            </a>
        </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #150C01;">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: var(--bs-red);">Sorry, we couldn't see any email and password you provide.&nbsp;<a
                    href="/home/login" style="color: var(--bs-blue);text-shadow: 3px 0px 8px;"><br><em><span
                    style="color: rgb(38, 55, 203);">try again</span></em></a></h1>
        </div>
    </div>
</div>
<script src="/loginFail/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>