<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <!--    <link rel="stylesheet" href="../../../../../SuccessRegister/assets/bootstrap/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="../../../../../SuccessRegister/assets/css/Bootstrap-Callout-Success.css">-->


    <link rel="stylesheet" href="/successregister/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/successregister/assets/css/Bootstrap-Callout-Success.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#">
            <div>
                <img src="/successregister/assets/img/615px-Food_Network_New_Logo%202.png">
            </div>
            <a href="/home">
            <span style="margin-left: 10px;color: #DC780B;font-weight: bold;">Home
            </span>
            </a>
        </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="color: #150C01;">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: #150C01;">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">

    <div class="bs-callout bs-callout-success">
        <h4>Success </h4>
        <p>You successfully Register. <strong>Congratulation</strong><em>!</em><br>
            <a href="/home/login">Login now
            </a><br>
        </p>
    </div>
</div>
<script src="/successregister/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>